<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Tôi Nguyễn Xuân Hướng, năm này tôi 26 tuổi, 1 vợ 1 con. Hiện tôi đang có 3 năm kinh nghiệm làm việc cũng như gắn bó với PHP. Là 1 người trầm tính, sống tình cảm và yêu thích công nghệ, đam mê các môn thể thao cũng như rất thích đi du lịch cùng gia đình và bạn bè.
    Hiện đang làm việc tại công ty Framgia Việt Nam tại vị trí PHP Developer.</p>
</div><!--//summary-->
</section><!--//section-->